body{
	font-family: sans-serif;
	padding: 50px;
}

.topic-heading{
	font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

div.topic-infograph{
	display: block;
	text-align: center;
}

.topic-infograph img{
	width: 800px;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}

.topic-discussion {
	padding-top: 30px;
}

.topic-date {
	font-size: 12px;
}

.topic-comments{
	width: 800px;
	margin: 0 auto;
}